/*******************************************************************************/
/*
/* Ratina
/*
/*******************************************************************************/

p {
    margin-bottom: 30px;
}

table {
    width: 100%;
    border: 1px solid;
}

table thead {
    font-weight: bold;
}

table thead tr {
    border: 1px solid;
}

table thead th {
    padding: 5px;
}

table tbody {
    
}

table tbody tr:hover {
    background-color: #666666;
}

table tbody td {
    padding: 5px;
}