---
layout: post
title:  "博文列表"
date:   2014-07-31 17:17:45
group: blog
---

{% assign path_sections = page.path | split: "/" %}
{% assign cat = path_sections[1] %}

<div id="home">
    <div class="posts">
        {% for post in site.posts %}
        {% if post.categories contains cat %}
        <div class="post-excerpt">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p class="author">
                <span class="date">{{ post.date | date_normal }}</span>
            </p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
